.Shopcards-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0;
    gap: 9rem ;
    width: 100%;
}

.Shopcards-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Shopcards-box-image img
{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);  
    /* border: 2px solid black; */
    /* padding: 1px; */
}

.Shopcards-box-title
{
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}