@import "react-image-gallery/styles/css/image-gallery.css";

/* Tailwind CSS layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles */
:root {
  --gold: #fde047;
}

.react-rater-star.is-active-half:before {
  color: var(--gold) !important;
}

.react-rater-star.is-active {
  color: var(--gold) !important;
}
